* {
    font-family: "Poppins", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bright-yellow-crayola: hsl(36, 94%, 57%);
    --portland-orange: hsl(15, 84%, 57%);
    --battleship-gray: hsl(0, 0%, 53%);
    --silver-chalice: hsl(0, 0%, 70%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(208, 7%, 46%);
    --raisin-black: hsl(228, 6%, 17%);
    --eerie-black: hsl(210, 3%, 13%);
    --bittersweet: hsl(9, 96%, 69%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 0%, 91%);
    --amber: hsl(45, 100%, 51%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(220, 2%, 24%);
    --ff-bangers: "Bangers", cursive;
    --ff-carter_one: "Carter One", cursive;
    --ff-nunito_sans: "Nunito Sans", sans-serif;
    --section-padding: 40px;
    --shadow-1: 0 8px 16px hsla(0, 0%, 0%, 0.15);
    --shadow-2: 0 8px 8px hsla(0, 0%, 0%, 0.2);
    --radius-4: 4px;
    --radius-10: 10px;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

section {
    padding: var(--section-padding) 0px 20px;
}

.section-title {
    text-align: center;
    font-size: 50px;
    color: var(--black);
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 30px;
    }
}

.section-title span {
    color: var(--portland-orange);
}

button {
    display: inline-block;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    max-width: max-content;
    padding: 8px 25px;
    font-weight: var(--fw-700);
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition-1);
}

button:hover {
    background-color: var(--portland-orange);
}

.btn-top {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--portland-orange);
    font-size: 18px;
    opacity: 0;
}

.btn-top.active {
    opacity: 1;
}


/* Start Global Ruls  */

.container {
    margin: 0px auto;
    padding: 15px 0px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Start Header  */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 55555;
    transition: 0.4s;
    padding: 0px 10px;
}

header.active {
    position: fixed;
    background-color: #fff;
    color: var(--black);
    animation: top 0.9s ease backwards;
    box-shadow: var(--shadow-1);
}

@keyframes top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .fa-bars {
    font-size: 23px;
    cursor: pointer;
    color: var(--white);
    display: none;
}

header.active .fa-bars {
    color: var(--black);
}

header h2 {
    font-size: 40px;
}

header h2 a {
    color: #fff;
}

header.active h2 a {
    color: var(--black);
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

header nav a {
    padding: 0px 20px;
    font-size: 18px;
    color: #fff;
}

header.active nav a {
    color: var(--black);
}

header nav .login {
    display: none;
}

header.active nav a:hover {
    color: var(--portland-orange);
}

header .icons span {
    font-size: 23px;
    cursor: pointer;
    padding: 5px;
    color: #fff;
}

header.active .icons span {
    color: var(--black);
}

header .icons span:hover {
    transform: scale(1.1);
    color: var(--portland-orange);
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }
    header nav {
        flex-direction: column;
        position: fixed;
        top: 66px;
        z-index: 222;
        left: -500px;
        height: 90vh;
        background-color: #fff;
        align-items: self-start;
        width: 318px;
    }
    header h2 {
        font-size: 30px;
    }
    header nav.active {
        left: 0;
    }
    header nav a {
        color: #000;
        padding: 20px;
    }
    header nav .login {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: var(--radius-10);
        color: #fff;
        background-color: var(--sonic-silver);
    }
    header nav a:not(a.login):hover {
        color: var(--portland-orange);
    }
    header .icons span {
        font-size: 20px;
    }
    header .icons span.fa-user {
        display: none;
    }
}


/* End Header  */


/* Start Home  */

.Home {
    background-image: url("../images/hero-banner.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

.Home .container .text {
    padding: 150px 30px;
    width: 600px;
    text-align: center;
}

.Home .container .text p {
    font-size: 45px;
    color: #fff;
    font-family: var(--ff-bangers);
}

.Home .container .text h1 {
    font-size: 130px;
    color: #fff;
    font-family: var(--ff-bangers);
    font-weight: 400;
}

.Home .container .text span {
    font-size: 30px;
    color: #fff;
}

.Home .container .text button {
    display: block;
    margin: 30px auto;
}

@media (max-width: 768px) {
    .Home .container .text {
        width: 310px;
        margin: auto;
        padding: 150px 10px;
    }
    .Home .container .text p {
        font-size: 30px;
    }
    .Home .container .text h1 {
        font-size: 80px;
    }
    .Home .container .text span {
        font-size: 25px;
    }
}


/* End Home  */


/* Start Categories  */

.category .container .content-category {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
}

.content-category::-webkit-scrollbar {
    height: 10px;
}

.content-category::-webkit-scrollbar-track {
    outline: 2px solid var(--portland-orange);
    border-radius: var(--radius-10);
}

.content-category::-webkit-scrollbar-thumb {
    border-radius: var(--radius-10);
    background-color: var(--portland-orange);
    border: 2px solid var(--white);
}

.content-category::-webkit-scrollbar-button {
    width: calc(25% - 30px);
}

.category .container .content-category .box {
    min-width: 300px;
    padding: 10px;
    scroll-snap-align: start;
}

.category .container .content-category .box .imgs {
    overflow: hidden;
    border-radius: var(--radius-10);
}

.category .container .content-category .box img {
    width: 100%;
}

.category .container .content-category .box .imgs:hover img {
    transform: scale(1.1);
}

.category .container .content-category .box h3 {
    font-size: 22px;
    cursor: pointer;
    margin: 15px 0;
    text-align: center;
    color: var(--black);
}

.category .container .content-category .box h3:hover {
    color: var(--portland-orange);
}

.category .container .banner-content {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.category .container .banner-content .banner {
    height: 280px;
    margin: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-10);
}

.category .container .banner-content .banner:nth-child(1) {
    background-image: url("../images/offer-banner-1.jpg");
}

.category .container .banner-content .banner:nth-child(2) {
    background-image: url("../images/offer-banner-2.jpg");
}

.category .container .banner-content .banner:nth-child(3) {
    background-image: url("../images/offer-banner-3.jpg");
}

.category .container .banner-content .banner .text {
    width: 70%;
    margin: 50px 16px;
}

.category .container .banner-content .banner .text p {
    font-size: 14px;
    padding: 7px 0;
}

.category .container .banner-content .banner .text h3 {
    font-size: 31px;
    font-weight: 600;
    width: 200px;
    padding: 7px 0 20px;
}

.category .container .banner-content .banner .text button {
    background-color: var(--portland-orange);
}

.category .container .banner-content .banner .text button:hover {
    background-color: var(--black);
}


/* End Categories  */


/* Start Products */

.products .container .content-products {
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin: 0px 7px;
}

.products .container .content-products .product {
    text-align: center;
}

.products .container .content-products .product .imgs {
    height: 310px;
    border-radius: var(--radius-10);
    outline: 2px solid var(--platinum);
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.products .container .content-products .product .imgs .add-cart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--platinum);
    border-radius: 50%;
    right: 10px;
    top: 10px;
    font-size: 20px;
    transition: color 0s;
    opacity: 0;
}

.products .container .content-products .product .imgs .add-cart:hover {
    color: var(--white);
    background-color: var(--portland-orange);
}

.products .container .content-products .product .imgs img {
    width: 100%;
    height: 300px;
    border-radius: var(--radius-10);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.products .container .content-products .product .imgs img:nth-child(1) {
    opacity: 1;
}

.products .container .content-products .product .imgs img:nth-child(2) {
    opacity: 0;
}

.products .container .content-products .product:hover .imgs .add-cart {
    opacity: 1;
}

.products .container .content-products .product:hover img:nth-child(1) {
    opacity: 0;
}

.products .container .content-products .product:hover img:nth-child(2) {
    opacity: 1;
}

.products .container .content-products .product .starts i {
    color: var(--amber);
}

.products .container .content-products .product .starts span {
    color: #888;
}

.products .container .content-products .product h3 {
    font-size: 22px;
    margin: 10px 0;
}

.products .container .content-products .product h3 a {
    color: var(--black);
}

.products .container .content-products .product h3:hover a {
    color: var(--portland-orange);
}

.products .container .content-products .product .price {
    color: var(--portland-orange);
    font-size: 25px;
}

.products .container .content-products .product .price span {
    font-size: 18px;
    color: #888;
    text-decoration: line-through;
}


/* Ends Products */


/* Start services */

.services .container .head-img {
    margin: 30px auto;
    width: fit-content;
}

.services .container .section-title {
    font-size: 35px;
}

@media (max-width: 768px) {
    .services .container .section-title {
        font-size: 27px;
    }
}

.services .container .content-services {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.services .container .content-services .ser {
    text-align: center;
}

.services .container .content-services .ser .text {
    text-align: center;
    padding: 15px 0;
}

.services .container .content-services .ser h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.services .container .content-services .ser p {
    color: var(--light-gray);
    font-size: 18px;
    line-height: 1.6;
}


/* Ends services */


/* Start Cat */

.cat {
    background-image: url("../images/cta-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cat .container .content-cat {
    display: flex;
    gap: 20px;
}

.cat .container .content-cat .box {
    width: 48%;
}

.cat .container .content-cat .box .p-cat {
    width: 100%;
}

.cat .container .content-cat .box .icon {
    padding: 60px 0 10px;
}

.cat .container .content-cat .box h3 {
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0;
}

.cat .container .content-cat .box p {
    font-size: 16px;
    line-height: 1.6;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .cat .container .content-cat {
        flex-direction: column;
    }
    .cat .container .content-cat .box {
        width: 96%;
        margin: auto;
    }
    .cat .container .content-cat .box:nth-child(1) {
        display: none;
    }
}


/* Ends Cat */


/* Start Bander */

.bander {}

.bander .container {}

.bander .container .content-bander {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
    padding: 10px;
    overflow-x: auto;
}

.bander .container .content-bander .ban {
    min-width: 200px;
    text-align: center;
}

.bander .container .content-bander .ban:not(:last-child) {
    border-right: 1px solid var(--platinum);
}

.content-bander::-webkit-scrollbar {
    height: 10px;
}

.content-bander::-webkit-scrollbar-track {
    outline: 2px solid var(--portland-orange);
    border-radius: var(--radius-10);
}

.content-bander::-webkit-scrollbar-thumb {
    border-radius: var(--radius-10);
    background-color: var(--portland-orange);
    border: 2px solid var(--white);
}

.content-bander::-webkit-scrollbar-button {
    width: calc(25% - 30px);
}


/* Ends Bander */


/* Start footer */

footer {
    background-image: url("../images/footer-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--raisin-black);
    padding: 100px 0 0px;
    margin-top: 15px;
}

footer .footer-content {
    padding: 10px 15px 30px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    border-bottom: 1px solid var(--battleship-gray);
}

footer .footer-content .list {
    width: 23%;
    margin: auto;
}

footer .footer-content .list h2 {
    color: var(--white);
    font-size: 27px;
}

footer .footer-content .list p {
    color: var(--battleship-gray);
    padding: 25px 0 10px;
}

footer .footer-content .list p a {
    color: var(--portland-orange);
}

footer .footer-content .list ul li {
    margin: 10px 0;
}

footer .footer-content .list ul li i {
    color: var(--portland-orange);
    margin-right: 10px;
}

footer .footer-content .list ul li a {
    color: var(--white);
}

footer .footer-content .list .icons {
    padding: 10px 0;
    display: flex;
}

footer .footer-content .list .icons span {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

footer .footer-content .list .icons span:hover {
    background-color: var(--portland-orange);
    color: var(--white);
}

footer .footer-content .list h3 {
    font-size: 23px;
    color: var(--white);
    padding: 10px 0;
}

footer .footer-content .list>a {
    color: var(--battleship-gray);
    display: block;
    font-size: 16px;
    padding: 7px 0;
}

footer .footer-content .list>a:hover {
    color: var(--portland-orange);
}

footer .container .footer-buttom {
    padding: 15px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-buttom p {
    font-size: 18px;
    padding: 10px;
    color: var(--battleship-gray);
}

.footer-buttom p span {
    color: var(--portland-orange);
}

.footer-buttom img {
    width: 300px;
}

@media (max-width: 992px) {
    footer .footer-content .list {
        width: 48%;
    }
}

@media (max-width: 768px) {
    footer .footer-content {
        flex-direction: column;
    }
    footer .footer-content .list {
        width: 98%;
    }
    footer .container .footer-buttom {
        flex-direction: column;
    }
    .footer-buttom p {
        font-size: 15px;
    }
}


/* Ends footer */